{% extends "AppMVT/maintemplate.html" %} {% load static %} {% block Title %}
<title>Lenguajes</title>
{% endblock %} {% block Masterhead %}
{% endblock %} {% block contenidoQueCambia %}
<section class="page-section portfolio" style="margin: 0 auto" id="language">
  <div class="container" ; style="margin: 5em auto">
    <h2
      class="page-section-heading text-center text-uppercase text-secondary mb-0"
    >
      Lenguajes de Programación
    </h2>
    <div style="margin: 2em" ;></div>
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <h4 class="page-section-heading text-center text-secondary mb-0" style="font-size: 2em">
      Busque un lenguaje y descubra más acerca de el
    </h4>
  </div>
    {% if language %}
  <div class="portfolio-item mx-auto">
    <p  class="page-section-heading text-center text-secondary mb-0" 
            style="font-size: 2em; background-color: #1abc9c;" >
        {{ language }}
    </p>
    <div style="margin: 4em"></div>
    <p style="text-align: justify; text-indent: initial; 
        color: #2C3E50; font-size: large; font-family: 'Lucida Sans', 
            'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 
                Geneva, Verdana, sans-serif;">
        {{ text }}
        </p>
  </div>
    {% elif mensaje %}
  <div class="portfolio-item mx-auto">
    <b>
    <p style="
    text-align: center;
    color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      ">{{ mensaje }}</p> </b>
    {% endif %}
  <form
    action="/AppMVT/buscarlenguajes"
    method="GET"
    style="margin: 2em auto 0 auto; width: fit-content"
  >
    <p
      style="
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      "
    >
      <label for="language">
        <input
          class="form-control text-center"
          placeholder="Nombre del lenguaje"
          type="text"
          name="language"
          id="language"
      /></label>
    </p>
    <p style="text-align: center">
      <input class="btn btn-primary" type="submit" value="Buscar" />
    </p>
  </form>
<p style="text-align: center; color:#2C3E50">
  <a href="{% url 'help' %}"><input class="btn data-bs-toggle" type="submit" value="No encuentro mi lenguaje" style="text-align: center; color:#6f87a0" > </a>
</p>
</section>
{% endblock %}